/*
 *  _preprocess/css/style.css
 *  alphaArgon.github.io
 *
 *  Created by alpha on 2025/10/22.
 *  Copyright © 2025 alphaArgon.
 */


@font-face {
    font-family: "Antimony";
    src: url("/assets/Antimony-Regular.woff2") format("woff2") url("/assets/Antimony-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Antimony";
    src: url("/assets/Antimony-Italic.woff2") format("woff2") url("/assets/Antimony-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Antimony";
    src: url("/assets/Antimony-Bold.woff2") format("woff2") url("/assets/Antimony-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Antimony";
    src: url("/assets/Antimony-BoldItalic.woff2") format("woff2") url("/assets/Antimony-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

:root {
    --on-dark-text-color: #fff;
    --dark-accent-background-color: #834;

    /* Light theme */
    --text-color: #00010ad2;
    --dimmed-text-color: #00020daf;
    --secondary-text-color: #0004108f;
    --accent-text-color: #b35;
    --link-text-color: #104ed8;
    --background-color: #fff;
    --secondary-background-color: #0000270d;
    --translucent-background-color: #fffc;
    --border-color: #00001336;
    --sh-keyword-color: #bb3355;
    --sh-key-type-color: #7726bb;
    --sh-other-type-color: #0044bb;
    --sh-member-color: #0077aa;
    --sh-number-color: #cc7700;
    --sh-string-color: #228800;
    --sh-macro-color: #885500;
    --sh-comment-color: #667788;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {:root {
    --text-color: #fff;
    --dimmed-text-color: #fbfcffd5;
    --secondary-text-color: #f7f8ffa8;
    --accent-text-color: #f89;
    --link-text-color: #00afff;
    --background-color: #191a1f;
    --secondary-background-color: #e5e6ff0d;
    --translucent-background-color: #191a1fcc;
    --border-color: #edeeff42;
    --sh-keyword-color: #ff7788;
    --sh-key-type-color: #eebbff;
    --sh-other-type-color: #aaeeff;
    --sh-member-color: #88ccff;
    --sh-number-color: #eebb00;
    --sh-string-color: #99bb00;
    --sh-macro-color: #cc9944;
    --sh-comment-color: #778899;
}}

:root {
    --underline-color: currentColor;
    font: 16px/1.75 "Antimony", "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
    font-feature-settings: "calt", "ss01";
    color: var(--text-color);
    word-break: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    scroll-padding-top: 30vh;
    scroll-padding-bottom: 40vh;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

p, ul, ol, blockquote, figure, pre, table {
    margin: 1.25em 0;
    padding: 0;
}

hr {
    border: none;
    border-top: solid 1px var(--border-color);
    margin: 2.5em auto;
    width: 50%;
}

.small, .footnotes {
    p, ul, ol, blockquote, figure, pre, table {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    hr {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

sup, sup, small, .small, .footnotes {
    font-size: 81.25%;
}

figcaption, th, .caption, .page-meta, .post-entry-meta, .work-entry-meta, .slideshow-meta {
    font-size: 81.25%;
    color: var(--secondary-text-color);
}

h1, .h1-like {
    font-size: 200%;
    line-height: 1.25;
}

h2 {
    font-size: 150%;
    line-height: 1.5;
}

h3 {
    font-size: 125%;
    line-height: 1.6;
}

h4 {
    font-size: 100%;
}

h5 {
    font-size: 87.5%;
}

h6 {
    font-size: 75%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.25em 0 0.25em;
}

ul, ol {
    padding-left: 2em;
}

li, ul ul, ol ol, ul ol, ol ul {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

ul {list-style-type: "\2043\20\20";}
ul ul {list-style-type: disc;}
ul ul ul {list-style-type: circle;}

::marker {
    color: var(--accent-text-color);
    font-variant-numeric: normal;
}

blockquote {
    position: relative;
    padding-left: 2em;
    color: var(--dimmed-text-color);

    &::before {
        content: "";
        position: absolute;
        left: 0.125em;
        top: 0.3em;
        bottom: 0.3em;
        width: 0.25em;
        background-color: var(--border-color);
    }
}

pre, code {
    /*  Monospace font looks larger  */
    font-size: 87.5%;
    font-family: "Lucida Sans Typewriter", "Lucida Console", "Menlo", "DejaVu Sans Mono", "Consolas", monospace;
    line-height: 1.5714285714;
    -webkit-hyphens: none;
    hyphens: none;
}

pre pre,
pre code {
    /* Monospace inside monospace */
    font-size: 100%;
    padding: 0;
    background-color: transparent;
    overflow: visible;
    white-space: pre;
}

pre {
    padding: 0.8571428571em 1.1428571429em;
    background-color: var(--secondary-background-color);
    word-break: normal;  /*  Not setting it may cause wrapping on Safari 13.  */
    position: relative;  /*  A workaround for the following issue  */
    overflow: auto;  /* ???: When scrollbars are visible, font subpixel antialiasing of the whole
                             page is disabled on Blink for Windows. This issue is filed at:
                                 https://issues.chromium.org/issues/372873705  */
    white-space: pre;
}

code {
    padding: 0.2em 0.4em;
    background-color: var(--secondary-background-color);
    white-space: pre-wrap;
    white-space: break-spaces;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 0 1.25em 0.2857142857em;
    text-align: inherit;
}

td {
    padding: 0.25em 1em;
    border-top: 1pt solid var(--border-color);
    border-bottom: 1pt solid var(--border-color);
}

:any-link, u, .underline {
    box-shadow: var(--underline-color) 0 2px 0 -1px;
    text-decoration: none;
}

a:any-link {
    color: var(--link-text-color);
    transition: opacity 0.2s 0.1s;  /*  This delay is helpful to, for example, when the user swipes
                                        back from the target page, indicate where they tapped.  */
}

a:any-link:hover:active {
    opacity: 0.5;
    transition: none;
}

/*  Page Chrome  */

html {
    height: 100%;
    background-color: var(--background-color);
}

body {
    display: flex;
    min-height: 100%;
}

.sidebar-background {
    top: 0;
    flex: none;
    width: 22vw;
    background-color: var(--dark-accent-background-color);
    box-shadow: var(--dark-accent-background-color) -100px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & a {
        box-shadow: none;
        color: inherit;
    }
}

.site-nav,
.link-nav {
    position: fixed;
    left: 5vw;
    white-space: nowrap;
    color: var(--on-dark-text-color);
}

.site-nav {
    font-size: 20px;
    top: calc(70vh - 125px);

    li.site-nav-badge-item {
        display: none;
    }
}

.link-nav {
    overflow: hidden;
    top: calc(70vh + 40px);
    text-align: center;
    font-size: 20px;
    line-height: 0;

    & .nav-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -0.4em -0.25em;
    }

    & li {
        margin: 0.4em 0.25em;
    }

    & a, & .em-icon {
        display: inline-block;
        vertical-align: bottom;
    }
}

.em-icon {
    display: inline-block;
    vertical-align: -15%;
    width: 1em;
    height: 1em;
}

.icon-github,
.icon-twitter {
    background-color: currentColor;
    -webkit-mask: 0/cover url("/assets/icons.svg") no-repeat;
    mask: 0/cover url("/assets/icons.svg") no-repeat;
}

.icon-twitter {
    -webkit-mask-position: 33.333% 0;
    mask-position: 33.333% 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: rect(0 0 0 0);
}

/*  Page Content  */

.main {
    padding: 2rem 3rem;
    padding-top: max(2rem, env(safe-area-inset-top));
    padding-right: max(3rem, env(safe-area-inset-right));
    padding-bottom: max(2rem, env(safe-area-inset-bottom));
    margin-left: 0;  /*  Will be refined by JavaScript.  */
    max-width: 40rem;  /*  Will be refined by JavaScript.  */

    &.wide {
        max-width: none;
    }

    & .site-badge {
        display: inline-block;
        padding-bottom: 0.25em;
        padding-right: 0.5em;
        border-bottom: solid 1px var(--border-color);
        box-shadow: none;
        color: var(--dimmed-text-color);
    }
}

.main.hero {
    padding-top: 0;

    & .site-badge {
        position: absolute;
        margin-top: 2rem;
        margin-top: max(2rem, env(safe-area-inset-top));
    }
}

.page-content {
    margin: 2rem 0 4rem;
}

.hero-title {
    line-height: 1;
    font-size: 128px;
    margin: calc(70vh - 1em) 0 0;
    margin-top: calc(70svh - 1em);

    &.biline {
        margin-top: calc(70vh - 2em);
        margin-top: calc(70svh - 2em);
    }
}

.hero-chevron-up {
    width: 36px;
    height: 22px;
    margin: 30vh auto 0;
    background-color: var(--secondary-text-color);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0l18 14v4L18 4 0 18v-4z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0l18 14v4L18 4 0 18v-4z'/%3E%3C/svg%3E");
}

.page-meta > :nth-child(n + 2)::before {
    content: " · ";
    font-feature-settings: 'case';
}

.page-banner-image {
    display: block;
    margin: -2rem 0 2rem;
    width: 100%;
    max-height: 16em;
    object-fit: cover;
}

.page-header {
    margin: 1rem 0;
}

.figure {  /* Not <figure> */
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.figure-content {
    display: block;
    margin: 0.25em 0;
    max-width: 100%;
}

.figure-caption {  /* Not <figcaption> */
    display: table;
    max-width: 100%;
    margin: 0.5em auto 0;
}


.post-list,
.work-list {
    list-style-type: none;
    padding: 0;
}

.post-list-item {
    margin: 0;
    border-top: solid 1px var(--border-color);
}

.post-list-item:last-child {
    border-bottom: solid 1px var(--border-color);
}

.post-list-item > a,
.work-list-item > a {
    display: block;
    box-shadow: none;
    color: inherit;
}

.post-entry {
    margin: 0;
    padding: 1em 0;
}

.post-entry.has-image {
    position: relative;
    padding-right: 11em;
}

.post-entry-image {
    position: absolute;
    right: 0;
    top: 1.25em;
    width: 10em;
    height: calc(100% - 2.5em);
    object-fit: cover;
    -webkit-user-select: none;
    user-select: none;
}

.post-entry-title {
    font-size: 125%;
    font-weight: bold;
    line-height: 1.6;
    color: inherit;
}

.post-entry-excerpt {
    display: block;
    margin: 0.5em 0;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

.work-list::before,
.work-list::after {
    content: "";
    display: block;
    order: 1;
    flex-grow: 1;
    width: 192px;
    height: 0.75rem;
    margin: 0 0.75rem;
}

.work-list-item {
    flex-grow: 1;
    width: 192px;
    margin: 0.75rem;
}

.work-entry {
    margin: 0;
    overflow: hidden;
    background-color: var(--secondary-background-color);
}

.work-entry-image {
    display: block;
    width: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    user-select: none;
}

.work-entry-title,
.work-entry-meta {
    margin: 0 1rem;
}

.work-entry-title {
    margin-top: 0.75rem;
    font-size: inherit;
    font-weight: bold;
    color: inherit;
}

.work-entry-meta {
    margin-bottom: 1rem;
}

/*  Slideshow  */

.slideshow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    --slide-size: min(384px, 85vw, 85vh - 12rem);

    &.out {
        pointer-events: none;
    }
}

.slideshow-wrapper,
.slideshow-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slideshow {
    touch-action: pan-x;
    touch-action: pan-x pinch-zoom;
    background-color: var(--translucent-background-color);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);

    &.out {
        background-color: transparent;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    &.slideshow.animating {
        transition: 0.3s;
    }

    &.slideshow.out.animating {
        transition: 0.3s 0.15s;
    }
}

.slideshow-wrapper {
    transform-origin: left top;

    .slideshow.animating & {
        transition: 0.45s cubic-bezier(0.2, 1, 0.5, 1);
    }

    .slideshow.out.animating & {
        transition: 0.45s cubic-bezier(0.6, 0, 0.3, 1);
    }
}

.slideshow-content {
    /* transform-origin: calc(50% - var(--slide-size) / 2); */

    .slideshow.out & {
        opacity: 0;
        transform: scale(0.75, 0.85);
    }

    .slideshow.animating & {
        transition: 0.45s 0.1s;
    }

    .slideshow.out.animating & {
        transition: 0.25s 0.2s, filter 0.35s 0.1s;
    }
}

@supports ((-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px))) {
    .slideshow.out .slideshow-content {
        filter: blur(16px);
    }
}

.slideshow-transimage {
    opacity: 0;
    visibility: hidden;

    .slideshow.out & {
        opacity: 1;
        visibility: visible;
    }

    .slideshow.animating & {
        transition: 0.1s 0.45s, visibility 0.55s;
        visibility: visible;
    }

    .slideshow.out.animating & {
        transition: 0.25s 0.1s, visibility 0.35s;
    }
}

.slideshow-header,
.slideshow-body,
.slideshow-scroller,
.slideshow-transimage {
    position: absolute;
}

.slideshow-header,
.slideshow-scroller,
.slideshow-transimage {
    left: calc(50% - var(--slide-size) / 2);
    right: calc(50% - var(--slide-size) / 2);
}

.slideshow-body,
.slideshow-transimage {
    top: calc(50% - var(--slide-size) / 2);
}

.slideshow-transimage {
    width: var(--slide-size);
}

.slideshow-header {
    bottom: calc(50% + var(--slide-size) / 2);
    margin-bottom: 1.5rem;
}

.slideshow-exit {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: calc(1.25em - 15px);
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    font-size: inherit;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--secondary-text-color);
    -webkit-mask: right url("/assets/exit.svg") no-repeat;
    mask: right url("/assets/exit.svg") no-repeat;
    opacity: 0.75;
    transition: opacity 0.2s 0.1s;

    &:hover:active {
        opacity: 0.35;
        transition: none;
    }
}

.slideshow-title,
.slideshow-meta {
    display: table;
}

.slideshow-title {
    margin-top: 0;
}

.slideshow-body {
    left: calc(-1 * var(--slide-size));
    right: calc(-1 * var(--slide-size));
    display: flex;
    padding-bottom: 16px;
    clip-path: inset(0 0 16px 0);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.slideshow-body::-webkit-scrollbar {
    display: none;
    height: 0;
}

.slideshow-body::before,
.slideshow-body::after {
    content: "";
    display: block;
    flex: none;
    width: calc(50% - var(--slide-size) / 2);
    visibility: hidden;
}

.work-slide {
    flex: none;
    margin: 0;
    scroll-snap-align: center;
}

.work-slide + .work-slide,
.work-slide-image + .work-slide-image {
    margin-left: min(2.5rem, 5vmin);
}

.work-slide-image-group {
    display: flex;
}

.work-slide-image {
    flex: none;
    display: block;
    width: var(--slide-size);
    height: var(--slide-size);
    object-fit: cover;
}

.work-slide-title {
    margin-top: 1rem;
    width: var(--slide-size);
    min-width: 100%;
}

.work-slide-title > .sticky {
    position: sticky;
    left: calc(50cqw + var(--slide-size) / 2);
    display: table;
}

.slideshow-scroller {
    height: 16px;
    bottom: calc(50% - var(--slide-size) / 2 - 16px);
}

.slideshow-scroller-knob {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    left: 0;
    bottom: 6px;
    margin: 0;
    padding: 0;
    border: none;
    width: 64px;
    height: 3px;
    background-color: var(--secondary-text-color);
    border-radius: 4px;
    transition: height 0.25s 0.75s;
}

@media (pointer: fine) {
    .slideshow-scroller:hover > .slideshow-scroller-knob,
    .slideshow-scroller:active > .slideshow-scroller-knob {
        height: 8px;
        transition: height 0.25s;
    }
}

/*  Footnotes  */

.footnotes {
    margin-top: 4em;  /*  Same as .page-content  */
    margin-bottom: -3em;
}

.footnotes::before {
    content: "";
    display: block;
    width: 10em;
    border-top: solid 1px var(--border-color);
    margin-bottom: 1em;
}

.footnotes.all-sidenotes {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: var(--dimmed-text-color);
    -webkit-hyphens: auto;
    hyphens: auto;
}

.footnotes.all-sidenotes::before {
    display: none;
}

.footnotes.all-sidenotes > ol {
    margin: 0;
    padding: 0;
}

.footnote-ref {
    vertical-align: baseline;
    white-space: nowrap;
}

.footnote-ref > a,
a.footnote-backref {
    box-shadow: none;
    color: var(--accent-text-color);
}

.footnotes.all-sidenotes .footnote-backref {
    display: none;
}

.footnote-ref > a {
    display: inline-block;
    vertical-align: super;
    margin: -0.5em 0;
}

.sidenote {
    margin: 0;
    position: absolute;
}

.sidenote > :first-child {
    margin-top: 0;
}

.footnote-ref a:target {
    animation: pop-up-down-big 0.35s 0.15s;
    outline: none;
}

.footnotes li:target {
    animation: pop-up-down-small 0.35s 0.15s;
    outline: none;
}

@keyframes pop-up-down-big {
    0% {transform: scale(1);}
    30% {transform: scale(1.9);}
    100% {transform: scale(1);}
}

@keyframes pop-up-down-small {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}


/*  Animation  */

@supports (transform: var(--transform-base)) {
    .site-nav-link-works,
    .site-nav-link-posts {
        position: relative;
        display: inline-block;
    }

    .site-nav-link-works .fly,
    .site-nav-link-posts .fly{
        content: "";
        pointer-events: none;
        position: absolute;
        display: inline-block;
        margin-left: 16px;
        height: 32px;
        width: 32px;
        background: 0/cover url("/assets/pointers.png");
        animation: circular-path-small infinite 1s linear;
        transform: var(--transform-base);
        --transform-base: translateZ(0);
    }

    .site-nav-link-works .fly {
        animation-delay: -0.5s;
        --transform-base: rotate(-10deg) scale(0.9);
    }

    .site-nav-link-posts .fly {
        background-position: 32px 0;
        --transform-base: rotate(5deg) translate(0, 4px);
    }
}

@keyframes circular-path-small {
    from {transform: var(--transform-base) rotate(0) translate(0, 5px) rotate(0);}
    to {transform: var(--transform-base) rotate(-1turn) translate(0, 5px) rotate(1turn);}
}

/*  Compact Layout  */

@media (max-width: 1000px) {

    .sidebar-background {
        width: 2rem;
        padding: 2rem 0.25rem;
        padding-top: max(2rem, env(safe-area-inset-top));
        padding-bottom: max(2rem, env(safe-area-inset-bottom));
        padding-left: max(0.25rem, env(safe-area-inset-left));
    }

    .site-nav,
    .link-nav {
        left: 0.25rem;
        left: max(0.25rem, env(safe-area-inset-left));
    }

    .site-nav {
        top: calc(70vh - 15em);
        font-size: inherit;
        line-height: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        writing-mode: vertical-rl;

        & li {
            display: inline;
        }

        & li::after {
            content: " ";
            letter-spacing: 1em;
        }
    }

    .link-nav {
        width: 2rem;
    }

    .hero-title {
        font-size: calc(10vw + 32px);
    }

    .main {
        /*  Using `margin: 0 auto` here may cause the page to scroll horizontally  */
        /*  This is set for fallback; JavaScript will refine it.  */
        margin-left: max(calc(50% - 23rem), 0px);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-right: max(2rem, env(safe-area-inset-right));
    }

    @supports (transform: var(--transform-base)) {
        .site-nav-link-works .fly,
        .site-nav-link-posts .fly {
            left: 100%;
            margin-left: 0;
            margin-top: -16px;
        }

        .site-nav-link-works .fly {
            top: 66%;
            --transform-base: rotate(10deg) scale(0.9);
        }

        .site-nav-link-posts .fly {
            top: 33%;
            --transform-base: rotate(-5deg) translate(0, 4px);
        }
    }
}


@media (max-width: 800px) {

    body {
        flex-direction: column;
    }

    .sidebar-background {
        display: none;
    }

    .site-nav {
        position: static;
        position: -webkit-sticky;
        position: sticky;
        z-index: 1;
        top: 0;
        left: auto;
        bottom: auto;
        background-color: var(--dark-accent-background-color);
        box-shadow: 0 -2px var(--dark-accent-background-color);
        padding: 0.25rem 2rem;
        padding-top: max(0.25rem, env(safe-area-inset-top));
        padding-left: max(2rem, env(safe-area-inset-left));
        padding-right: max(2rem, env(safe-area-inset-right));
        font-size: inherit;
        line-height: inherit;
        text-transform: inherit;
        letter-spacing: inherit;
        writing-mode: inherit;

        & .nav-list {
            display: flex;
            align-items: center;
            height: 2rem;

            & li {
                display: inline-block;
                margin: 0 0 0 1em;
            }

            & .site-nav-badge-item {
                flex: 1;
                overflow: hidden;
                margin-left: 0;
                padding-right: 1em;
                mask: linear-gradient(to left, transparent, red 1em);
            }
        }
    }

    .link-nav {
        position: static;
        order: 1;  /*  Move to the bottom  */
        padding: 1rem 0 1.5rem;
        padding-bottom: max(env(safe-area-inset-bottom), 1.5rem);
        width: auto;
        color: var(--secondary-text-color);
        opacity: 0.75;
    }

    .slideshow {
        top: 2.5rem;
        top: calc(2.25rem + max(0.25rem, env(safe-area-inset-top)));
    }

    .hero-title {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .main {
        padding: 0 1.5rem;
        padding-left: max(1.5rem, env(safe-area-inset-left));
        padding-right: max(1.5rem, env(safe-area-inset-right));
        flex-grow: 1;

        & .site-badge {
            display: none;
        }
    }

    .page-banner-image {
        display: block;
        margin-top: 0;
    }

    .copyright.caption {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .work-list::before,
    .work-list::after {
        width: 160px;
    }

    .work-list-item {
        width: 160px;
    }

    .post-entry.has-image {
        padding-right: 0;
    }

    .post-entry-image {
        position: static;
        width: 100%;
        max-height: 8em;
        margin-bottom: 0.25em;
    }

    @supports (transform: var(--transform-base)) {
        .site-nav-link-works .fly,
        .site-nav-link-posts .fly {
            left: 0;
            margin-left: -8px;
            margin-top: 28px;
        }

        .site-nav-link-works .fly {
            top: 0;
            --transform-base: scaleY(-1) rotate(240deg) scale(0.9);
        }

        .site-nav-link-posts .fly {
            top: 0;
            background-position: 32px 0;
            --transform-base: scaleY(-1) rotate(250deg);
        }
    }
}

@media (max-height: 540px) {

    .slideshow {
        --slide-size: min(384px, 85vw, 85vh - 6rem);
    }

    .slideshow-body,
    .slideshow-transimage {
        top: calc(50% - var(--slide-size) / 2 - 2rem);
    }

    .slideshow-scroller {
        bottom: calc(50% - var(--slide-size) / 2 - 16px + 2rem);
    }

    .slideshow-header {
        display: none;
    }
}

/*  Syntax Highlighting  */

.highlighter-rouge {
    .esc /* Escape */,
    .err /* Error */,
    .x /* Other */ {
        color: var(--text-color);  /*  Do nothing  */
    }

    .o /* Operator */,
    .ow /* Word */,
    .p /* Punctuation */,
    .pi /* Indicator */ {
        color: var(--text-color);  /*  Do nothing  */
    }

    .c /* Comment */,
    .ch /* Hashbang */,
    .cd /* Doc */,
    .cm /* Multiline */,
    .c1 /* Single */,
    .cs /* Special */ {
        color: var(--sh-comment-color);
    }

    .cp /* Preproc */,
    .cpf /* PreprocFile */ {
        color: var(--sh-macro-color);
    }

    .k /* Keyword */,
    .kc /* Constant */,
    .kd /* Declaration */,
    .kn /* Namespace */,
    .kp /* Pseudo */,
    .kr /* Reserved */,
    .kt /* Type */,
    .kv /* Variable */ {
        color: var(--sh-keyword-color);
        font-weight: bold;
    }

    .l /* Literal */,
    .ld /* Date */,
    .m /* Number */,
    .mb /* Bin*/,
    .mf /* Float*/,
    .mh /* Hex*/,
    .mi /* Integer*/,
    .il /* Long*/,
    .mo /* Oct*/,
    .mx /* Other*/,
    .sc /* Char */ {
        color: var(--sh-number-color);
    }

    .s /* String */,
    .sa /* Affix */,
    .sb /* Backtick */,
    .dl /* Delimiter */,
    .sd /* Doc */,
    .s2 /* Double */,
    .se /* Escape */,
    .sh /* Heredoc */,
    .si /* Interpol */,
    .sx /* Other */,
    .sr /* Regex */,
    .s1 /* Single */,
    .ss /* Symbol */ {
        color: var(--sh-string-color);
    }

    .n /* Name */,
    .nv /* Variable */ {
        color: var(--text-color);  /*  Do nothing  */
    }

    .nb /* Builtin */,
    .nt /* Tag (CSS) */ {
        color: var(--sh-key-type-color);
    }

    &.language-swift .kt  {
        /* Swift types are not keywords */
        color: var(--sh-key-type-color);
        font-weight: inherit;
    }

    .nn /* Namespace */,
    .nx /* Other */,
    .nd /* Decorator */,
    .nc /* Class (CSS) */ {
        color: var(--sh-other-type-color);
    }

    .na /* Attribute */,
    .bp /* Pseudo */,
    .no /* Constant */,
    .ni /* Entity */,
    .ne /* Exception */,
    .nf /* Function */,
    .fm /* Magic */,
    .py /* Property */,
    .vc /* Class */,
    .vg /* Global */,
    .vi /* Instance */,
    .vm /* Magic */,
    .nl /* Label */ {
        color: var(--sh-member-color);
    }
}
