<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#834">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}"/>
    <script src="{{ '/assets/style.js' | relative_url }}"></script>
    <title>
{%- if page.title -%}
        {{ page.title | escape }} @ {{ site.title | escape }}
{%- else -%}
        {{ site.title | escape }}
{%- endif -%}
    </title>
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:title" content="{{ page.title | site.title | escape }}">
{%- assign url_components = page.url | split: '/' -%}
{%- if url_components[1] == "posts" and url_components[2] -%}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:description" content="{{ page.excerpt | escape }}">
    {%- if page.cover -%}
    <meta property="og:image" content="{{ page.cover | absolute_url }}">
    {%- endif -%}
{%- endif -%}
</head>
{%- assign is_root_page = false -%}
{%- capture site_badge -%}
    {%- case page.url -%}
    {%- when "/", "/index", "/index.html" -%}
        {%- assign is_root_page = true -%}
        <span class="site-badge" role="complementary" translate="no">{{ site.title }}</span>
    {%- else -%}
        {%- assign slice_length = url_components | size | minus: 1 -%}
        {%- assign updir = url_components | slice: 0, slice_length | join: '/' -%}
        {%- if updir == "" -%}
            {%- assign updir = "/" -%}
        {%- endif -%}
        <a class="site-badge" href="{{ updir | relative_url }}" role="complementary" rel="up" translate="no">{{ site.title }}</a>
    {%- endcase -%}
{%- endcapture -%}
<body ontouchstart>
{% if is_root_page %}
    <nav class="site-nav at-root">
{% else %}
    <nav class="site-nav">
{% endif %}
        {{ site_badge }}
        <ul class="site-nav-list" lang="en">
            <li><a class="site-nav-link-home" href="{{ '/' | relative_url }}">Home</a></li>
            <li><a class="site-nav-link-about" href="{{ '/about' | relative_url }}">About</a></li>
            <li><a class="site-nav-link-posts" href="{{ '/posts' | relative_url }}">Posts</a></li>
        </ul>
    </nav>
    <nav class="link-nav">
        <ul class="link-nav-list" lang="en">
            <li><a href="https://github.com/alphaArgon" target="_blank"><i class="icon-github"></i><span class="visually-hidden">GitHub</span></a></li>
            <li><a href="https://twitter.com/alpha_argon" target="_blank"><i class="icon-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
        </ul>
    </nav>
    <main class="main">
{%- if page.cover -%}
        <img class="page-banner-image" src="{{ page.cover | relative_url }}" role="banner">
{%- endif -%}
        {{ site_badge }}
        <article class="page-content">
{%- if page.title or page.date or page.source -%}
            <header class="page-header">
    {%- if page.title -%}
                <h1 id="page-title" class="page-title">{{ page.title }}</h1>
    {%- endif -%}
    {%- if page.date or page.source -%}
                <div class="page-meta">
        {%- if page.date -%}
                <time datetime="{{ page.date | date_to_xmlschema }}">
            {%- include dates.html start=page.date end=page.revision -%}
                </time>
        {%- endif -%}
        {%- if page.source -%}
            {%- assign short_name = page.source | split: "//" | last | split: "/" | first -%}
            {%- assign first_four = short_name | slice: 0, 4 -%}
            {%- if first_four == "www." -%}
                {%- assign slice_length = short_name | size | minus: 4 -%}
                {%- assign short_name = short_name | slice: 4, slice_length -%}
            {%- endif -%}
            {%- if short_name contains "github.com" -%}
                {%- assign short_name = " GitHub" -%}
            {%- elsif short_name contains "zhihu.com" -%}
                {%- assign short_name = "知乎" -%}
            {%- elsif short_name contains "bilibili.com" -%}
                {%- assign short_name = "哔哩哔哩" -%}
            {%- elsif short_name contains "weibo.com" -%}
                {%- assign short_name = "微博" -%}
            {%- elsif short_name contains "weixin.qq.com" -%}
                {%- assign short_name = "微信公众号" -%}
            {%- else -%}
                {%- assign short_name = short_name | prepend: " " -%}
            {%- endif -%}
                    <span>最初发布于<a href="{{ page.source }}" target="_blank" rel="noopener noreferrer">{{ short_name }}</a></span>
        {%- endif -%}
                </div>
    {%- endif -%}
            </header>
{%- endif -%}
            <div class="page-body">
                {{ content }}
            </div>
        </article>
{%- if page.copyright -%}
        <div class="copyright caption">{{ page.copyright }}</div>
{%- elsif page.date -%}
        <div class="copyright caption">&copy; {{ page.date | date: "%Y" }} <span translate="no">{{ site.title | upcase }}</span></div>
{%- endif -%}
    </main>
</body>
</html>
